<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <title>This is a secure website. Please keep it that way...</title>
    </head>

    <body>


            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">Don't Hack This</a>
                </div>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/rango/about/">About</a></li>
                    {% if user.is_authenticated %}
                  <li><a href="/rango/logout/">Log out</a></li>
                    {% else %}
                  <li><a href="/rango/register/">Register</a></li>
                  <li><a href="/rango/login/">login</a></li>
                  {% endif %}
                </ul>
              </div>
            </nav>
       {% if user.is_authenticated %}
       <audio autoplay>
        <source src="{% static 'images/ycsm.mp3' %}" type="audio/mpeg">
        </audio>
        <!-- add form here -->



        <div class="container">
        <h2>Welcome {{user.username}}</h2>
        <p>Add a new message:
        <form action="postcomment/" method="POST">
        {% csrf_token %}
        <input type = "text" name="postmessage"><br>
        <input type="submit" value="Submit">
        </form></p>            
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            {% if profiles %}
                {% for profile in profiles %}
                    <tr>
                        <td>{{profile.name}}</td>
                        <td>{{profile.surname}}</td>
                        <td>{{profile.balance}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if profile %}
                <tr>
                    <td>{{profile.name}}</td>
                    <td>{{profile.surname}}</td>
                    <td>{{profile.balance}}</td>
                </tr>
            {% endif %}
    </tbody>
  </table>
</div>
    {% else %}
            <h1>24 hours of work say.. don't hack this!</h1>
        {% if messages %}
 <table class="table table-striped">
            <thead>
            <tr>
                <th>Author</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{message.author}}</td>
                    <td>{{message.text}}</td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
    {% endif %}
</table>




    
</body>
</html>